
#red {
  background-color: red;
  color: white;
  padding: 10px;
}

#orange {
  background-color: orange;
  color: white;
  padding: 10px;
}

#yellow {
  background-color: yellow;
  color: black;
  padding: 10px;
}

#green {
  background-color: green;
  color: white;
  padding: 10px;
}

#blue {
  background-color: blue;
  color: white;
  padding: 10px;
}

#indigo {
  background-color: indigo;
  color: white;
  padding: 10px;
}

#violet {
  background-color: violet;
  color: white;
  padding: 10px;
}